extend layout

block content
  #main
    .hello
    #title
      h2 Hello, my name is
      h1#h1 Ian Cullinane
    #about
      p.about__bio Right now I do DevOps & Cloud Engineering at Turbine Games. Previously I worked as a graphic designer for Whole Foods Market. For yuks I do web development and game development.

    #timeline_app
    //- #content
    //-   h3 This is what I've been up to the last ten years
    //-   #timeline_app
  //- p.header_skills I'm pretty good at Web Development, DevOps, and Cloud Engineering
  //- p.header_skills I often write code in Python, JavaScript, and Java
  //- p.header_skills I'm most comfortable on Linux environments
  //- .header__contact
  //-   .header__btn.btn.btn-primary-outline
  //-     span.glyph.glyphicon.glyphicon-envelope
  //-     a(href="mailto:ian.cullinane@gmail.com")
  //-       | ian.cullinane@gmail.com
  //-   br
  //-   .header__btn.btn.btn-primary-outline
  //-     a(href="tel:781-781-8050")
  //-       span.glyph.glyphicon.glyphicon-phone
  //-       | 781.775.8050
