include mixins/body-mixins

-var layout = config
-var user = config.user
doctype
html
  head
    title #{layout.title}
    //meta(name="Costa's Cleaning" content="Residential and Commericial cleaner servincing the Boston Metro Area")

    link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', rel='stylesheet')

    //link(rel='stylesheet', href='stylesheets/bootstrap.css')

    // js imports
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    //script(src='https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js')

    link(rel='stylesheet', href='stylesheets/style.css')

  body

    header
      .container
        .row
          .col-md-12
            h1.header__title #{user.name}
            +git_btn("git")
            .header__contact
              .header__btn.btn.btn-primary-outline
                span.glyph.glyphicon.glyphicon-envelope
                a(href="mailto:ian.cullinane@gmail.com")
                  | ian.cullinane@gmail.com
              br
              .header__btn.btn.btn-primary-outline
                a(href="tel:781-781-8050")
                  span.glyph.glyphicon.glyphicon-phone
                  | 781.775.8050
            each item in user.skills
              p= item

            //.header__about #{layout.about}

    body
      .container
        .row
          .col-md-12
              block content

    footer
      .container
        .row
          .col-md-12

