include mixins



doctype
html
  head
    title #{title} - Costa Cleaning | Boston
    meta(name="Costa's Cleaning" content="Residential and Commericial cleaner servincing the Boston Metro Area")

    //link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', rel='stylesheet')

    link(rel='stylesheet', href='stylesheets/bootstrap.css')

    // js imports
    //script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js')
    //script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    //script(src='https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js')

    link(rel='stylesheet', href='stylesheets/style.css')

  body

    header
      .container
        .row
          .message.col-md-7.col-md-offset-2
            h1 Some Basic Site
            h2 For developing ideas
        .row
          .message.col-md-7.col-md-offset-2
            block mail-phone

    .container
      .row
        .main-content.col-md-12
          block content
    footer
      .container
        .row
          address
            strong
              | Some Basic Site
            br
            a(class="contact-bottom" href="kc@costascleaning.com")
              | kc@cleaningwithcosta.com
            br
            p
              | copyright Costa's Cleaning Services 2015


    script(src='js/scripts.js')



