

@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,600,300|Quicksand')
@import url('https://fonts.googleapis.com/css?family=Lato:900|Open+Sans:400,300,300italic')
//@import url('https://fonts.googleapis.com/css?family=Lobster')
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:700,300|Work+Sans:400,200');

@import 'nib'
//@import 'mixins/strap'
//@import 'bootstrap'

roboto = 'Roboto Slab'
quicksand = 'Quicksand'
open-sans = 'Open Sans'
lato = 'Lato'
lobster = 'Lobster'

h1,
h2,
h3,
h4,
h5,
h6
  font-family lato

small = 'screen and (max-width: 420px)'
medium = 'screen and (min-width: 420px)'
large = 'screen and (min-width: 992px)'
xlarge = 'screen and (min-width: 1200px)'

/*
 * Store the main color and
 * background color as variables
 */
main-color = #4998F2
background-color = #faf9f0


/*
 /$$                                 /$$
| $$                                | $$
| $$$$$$$   /$$$$$$   /$$$$$$   /$$$$$$$  /$$$$$$   /$$$$$$
| $$__  $$ /$$__  $$ |____  $$ /$$__  $$ /$$__  $$ /$$__  $$
| $$  \ $$| $$$$$$$$  /$$$$$$$| $$  | $$| $$$$$$$$| $$  \__/
| $$  | $$| $$_____/ /$$__  $$| $$  | $$| $$_____/| $$
| $$  | $$|  $$$$$$$|  $$$$$$$|  $$$$$$$|  $$$$$$$| $$
|__/  |__/ \_______/ \_______/ \_______/ \_______/|__/
*/


.header__title
  font-size 5vw
  font-family lato

.header_skills
  font-size 1.4em

.header_contact
  //float left
  display inline

.header__btn:link
  color black
  border none

.glyph
  vertical-align middle
  padding 2px
  margin 0 4px 0 0

.header__about
  font-family lato

.about__link
  padding-left 25px

.git
  @extend .about__link
  background url(../images/GitHub-Mark-64px.png) no-repeat
  background-size contain


/*
 /$$                       /$$
| $$                      | $$
| $$$$$$$   /$$$$$$   /$$$$$$$ /$$   /$$
| $$__  $$ /$$__  $$ /$$__  $$| $$  | $$
| $$  \ $$| $$  \ $$| $$  | $$| $$  | $$
| $$  | $$| $$  | $$| $$  | $$| $$  | $$
| $$$$$$$/|  $$$$$$/|  $$$$$$$|  $$$$$$$
|_______/  \______/  \_______/ \____  $$
                               /$$  | $$
                              |  $$$$$$/
                               \______/
*/


.history
  .history__company
    font-size 2.5em
    font-family lato
    margin 0 0 10px 0
  .history__title
    font-size 1.5em
    font-family quicksand
    margin 0 0 10px 0
  .history__date
    font-size 1.7em
    font-family lobster
    margin 0 0 10px 0
  .history__description
    font-family open-sans
    margin 0 0 10px 0


.hello

  h1
    font-size 6vw
    font-family  lato
  h2
    font-size 4vw
    font-family roboto
    font-weight 700

  h3
    font-size 3vw
    font-family roboto

  h4
    font-size 2.5vw
    font-family roboto

  position  absolute
  width     600px
  height    400px
  left      50%
  top       50%
  margin-left  -300px /* half of the width  */
  margin-top   -200px /* half of the height */

.hello__contact
  font-weight 700






